.playlist-input{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #535353;
    margin-left: 10px;
    width: 100%;
    color: #535353;
    transition: 0.2s;
}

.playlist-input:focus{
    background-color: inherit;
    box-shadow: 0 3px 2px -2px #1db954;
    outline: 0 none;
    color: white;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #535353;
    color: #535353;
    background: inherit;
    background-image: none;
  }
  /* Remove IE arrow */
 
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    line-height: 3;
    background: #212121;
    overflow: hidden;
    border-radius: .25em;
  }

  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #1db954;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #212121;
  }