.spotcard{
    margin: 5px 0px;
    border-bottom: 1px solid #535353;
}

.spotcard:hover{
    background-color: aquamarine;
}

.spotcard img{
    width: 4em
}

.spotcard h1{
    font-size: 16px;
}

.spotcard p{
    font-size: 10px;
}

.spotcard-body{
    padding-top:15px;
    
    padding-left: 10px;
}

.artistImg{
    border-radius: 0% 100% 100% 0% / 0% 50% 50% 100% ;
}



