.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.2s;
    line-height: 40px;
    width: 80%;
    border-radius: 0px;
}

.search-txt:focus{
    background-color: inherit;
    box-shadow: 0 3px 2px -2px #1db954;
    outline: 0 none;
}